{% extends "layouts/landing-layout.html" %}

{% load static extra_settings  %}


{% block content  %}

Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas laudantium eos dicta aliquam, numquam optio vero veritatis culpa libero commodi impedit beatae nostrum itaque, atque suscipit dolores fugit deleniti porro praesentium repellendus reprehenderit dolore facere consequuntur. Voluptates nam minus eligendi voluptatibus aperiam, doloremque velit quam adipisci laudantium. Odio quos, a, dicta at perferendis qui veniam quisquam animi nobis officiis quae. Accusamus eum architecto aspernatur iure quasi repellendus dicta consequatur soluta illo obcaecati. Architecto itaque laborum optio. Explicabo, fugit! Dicta illo labore repudiandae doloribus sint saepe, ex expedita tenetur corporis autem quod alias modi neque aspernatur magni accusamus commodi laborum cum?

{% endblock %}

{% block bottom %}

{% endblock %}
